<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wikipedia Speed Runner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='wikipedia.png') }}" type="image/png">
</head>
<body>
    <nav class="navbar">
        <button href="/" class="logo">CM</button>
        <a href="/" class="nav-btn {% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="/blog" class="nav-btn {% if request.path == '/blog' %}active{% endif %}">Blog</a>
    </nav>
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>